<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Rhapsody Refiner</h1>
    <div id="drop-area">
        <h3>Drag and Drop a File</h3>
        <p>or</p>
        <label for="file-input" class="custom-file-upload">
            <span id="file-upload-text">Choose a file</span>
        </label>
        <input type="file" id="file-input" multiple>
    </div>
    <div id="selected-file"></div>
    <div id="dropdown">
        <label for="processing-state">Select Number of Variations: </label>
        <select id="processing-state">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div id="dropdown">
        <label for="processing-state">Select Model: </label>
        <select id="processing-state">
            <option value="Music Transformer">Music Transformer</option>
            <option value="MusicBert Variation">MusicVAE</option>
        </select>
    </div>

    <div id="controls">
        <label for="attribute-container" class="controlLabel">Select Attributes to Alter</label>
        <div id="attribute-container" class="AttributeControlContainer">
            <div>
                <label for="BarCheckbox">Bar</label>
                <input type="checkbox" id="BarCheckbox" name="BarCheckbox">
            </div>
            <div>
                <label for="PositionCheckbox">Position</label>
                <input type="checkbox" id="PositionCheckbox" name="PositionCheckbox">
            </div>
            <div>
                <label for="InstrumentCheckbox">Instrument</label>
                <input type="checkbox" id="InstrumentCheckbox" name="InstrumentCheckbox">
            </div>
            <div>
                <label for="PitchCheckbox">Pitch</label>
                <input type="checkbox" id="PitchCheckbox" name="PitchCheckbox">
            </div>
            <div>
                <label for="DurationCheckbox">Duration</label>
                <input type="checkbox" id="DurationCheckbox" name="DurationCheckbox">
            </div>
            <div>
                <label for="TimesignatureCheckbox">Time Signature</label>
                <input type="checkbox" id="TimesignatureCheckbox" name="TimesignatureCheckbox">
            </div>
            <div>
                <label for="TempoCheckbox">Tempo</label>
                <input type="checkbox" id="TempoCheckbox" name="TempoCheckbox">
            </div>
        </div>
        <div class="AttributeControlContainer" >
            <div id="BarSelectionContainer">
                <div class="BarSelectionRow">
                    <label for="startBar" class="startBarLabel">Start Bar</label>
                    <input type="text" size=5 id="startBar1" name="startBar1">
                    <label for="endBar" class="endBarLabel">End Bar</label>
                    <input type="text"  size=5 id="endBar1" name="endBar1">
                </div>
            </div>
            <button id="addBars">Add More</button>
        </div>
        <label for="VariationSlidecontainer" class="controlLabel">Variation Percentage</label>
        <div>
            <label for="BarLevelCheckbox">Alter Entire Bar</label>
            <input type="checkbox" id="BarLevelCheckbox" name="BarLevelCheckbox">
        </div>
        <div id="VariationSlidecontainer" class="AttributeControlContainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="varitionPercentage">
            <span class="slider-value" id="VariationSliderValue">50%</span>
        </div>
        <label for="NewNotesContainer" class="controlLabel">New Notes</label>
        <div id="NewNotesContainer" class="AttributeControlContainer">
            <div class="NewNotesCheckboxContainer">
                <label for="NewNotesCheckBox">Add New Notes</label>
                <input type="checkbox" id="NewNotesCheckBox" name="NewNotesCheckbox">
            </div>
            <div class="NewNotesAmountSliderContainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="NewNotesSlider">
                <span class="slider-value" id="NewNotesSliderValue">50%</span>
            </div>
        </div>
    </div>

    <div class="AttributeControlContainer">
        <!-- <div class="TemperatureDiv">
            <div class="Temperature Labels">
                <b>Temperature</b>
            </div>
        </div> -->
        <div>
            <label for="temperatureSlider">Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="temperatureSlider">
            <span class="slider-value" id="temperatureSliderValue">1</span>
        </div>
        <div>
            <label for="barTemperatureSlider">Bar Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="barTemperatureSlider">
            <span class="slider-value" id="barTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="positionTemperatureSlider">Position Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="positionTemperatureSlider">
            <span class="slider-value" id="positionTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="instrumentTemperatureSlider">Instrument Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="instrumentTemperatureSlider">
            <span class="slider-value" id="instrumentTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="pitchTemperatureSlider">Pitch Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="pitchTemperatureSlider">
            <span class="slider-value" id="pitchTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="durationTemperatureSlider">Duration Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="durationTemperatureSlider">
            <span class="slider-value" id="durationTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="timesignatureTemperatureSlider">Time Signature Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="timesignatureTemperatureSlider">
            <span class="slider-value" id="timesignatureTemperatureSliderValue">1</span>
        </div>
        <div>
            <label for="tempoTemperatureSlider">Tempo Temperature</label>
            <input type="range" min="50" max="300" value="100" class="slider" id="tempoTemperatureSlider">
            <span class="slider-value" id="tempoTemperatureSliderValue">1</span>
        </div>
    </div>

    <!-- <div class="MidiVisualiserContainer">
        <midi-player
            src="https://magenta.github.io/magenta-js/music/demos/melody.mid"
            sound-font visualizer=".visualizer">
        </midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer" class="visualizer" src="static/midi/generated.mid"></midi-visualizer>
    </div> -->

    <button id="upload-button" onclick="uploadFile()">Run Job</button>
    <button id="logout" onclick="logout()">Logout</button>

    <div id="uploaded-box">
        <h4>Uploaded</h4>
        <div id="file-list"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
    <script>
        // Connect to the WebSocket server
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        // Event handler for the 'connect' event
        socket.on('connect', function() {
            console.log('Connected to the WebSocket server');
        });

        // Event handler for the 'disconnect' event
        socket.on('disconnect', function() {
            console.log('Disconnected from the WebSocket server');
        });

        // Event handler for the 'processing_complete' event
        socket.on('processing_complete', function(data) {
            let fileContainer = document.getElementById(data.filename)
            fileContainer.classList.remove('processing');
            fileContainer.classList.add('processed');

            let processingIcon = document.getElementById(data.filename.concat("_icon"))
            processingIcon.src = 'static/images/tick.png';
            processingIcon.alt = 'Processed';

        });

        socket.on("job_complete", function(data) {
            
            let id = data.filename.concat(`_Job ${data.job}`, "icon");
            let jobProcessingIcon = document.getElementById(id);
            jobProcessingIcon.src = 'static/images/tick.png';
            jobProcessingIcon.alt = 'Processed';
            
            let filename = `${data.job}_`.concat(data.filename);

            let downloadLink = document.createElement('a');
            downloadLink.href = `variations/${filename}`;
            downloadLink.download = filename;
            downloadLink.textContent = filename;
            console.log(downloadLink);

            let jobListName = document.getElementById(filename);
            jobListName.innerHTML = "";
            jobListName.appendChild(downloadLink);
            console.log(jobListName.innerHTML);

        });

        socket.on("job_failed", function(data) {
            let id = data.filename.concat(`_Job ${data.job}`, "icon");
            let jobProcessingIcon = document.getElementById(id);
            jobProcessingIcon.src = 'static/images/failed.jpg';
            jobProcessingIcon.alt = 'Failed';

            let fileContainer = document.getElementById(data.filename)
            fileContainer.classList.remove('processing');
            fileContainer.classList.add('failed');

            let processingIcon = document.getElementById(data.filename.concat("_icon"))
            processingIcon.src = 'static/images/failed.jpg';
            processingIcon.alt = 'Failed';
        });

        let dropArea = document.getElementById('drop-area');
        let fileList = document.getElementById('file-list');
        let fileInput = document.getElementById('file-input');
        let processingStateSelect = document.getElementById('processing-state');
        let selectedFile;
        let inputBarNum = 2;

        const variationSlider = document.getElementById('varitionPercentage');
        const newnotesSlider = document.getElementById("NewNotesSlider");
        const temperatureSlider = document.getElementById("temperatureSlider");
        const barTemperatureSlider = document.getElementById("barTemperatureSlider");
        const positionTemperatureSlider = document.getElementById("positionTemperatureSlider");
        const instrumentTemperatureSlider = document.getElementById("instrumentTemperatureSlider");
        const pitchTemperatureSlider = document.getElementById("pitchTemperatureSlider");
        const durationTemperatureSlider = document.getElementById("durationTemperatureSlider");
        const timesignatureTemperatureSlider = document.getElementById("timesignatureTemperatureSlider");
        const tempoTemperatureSlider = document.getElementById("tempoTemperatureSlider");

        const variationSliderValue = document.getElementById('VariationSliderValue');
        const newnotesSliderValue = document.getElementById("NewNotesSliderValue");
        const temperatureSliderValue = document.getElementById("temperatureSliderValue");
        const barTemperatureSliderValue = document.getElementById("barTemperatureSliderValue");
        const positionTemperatureSliderValue = document.getElementById("positionTemperatureSliderValue");
        const instrumentTemperatureSliderValue = document.getElementById("instrumentTemperatureSliderValue");
        const pitchTemperatureSliderValue = document.getElementById("pitchTemperatureSliderValue");
        const durationTemperatureSliderValue = document.getElementById("durationTemperatureSliderValue");
        const timesignatureTemperatureSliderValue = document.getElementById("timesignatureTemperatureSliderValue");
        const tempoTemperatureSliderValue = document.getElementById("tempoTemperatureSliderValue");

        variationSlider.addEventListener('input', () => {
            variationSliderValue.textContent = variationSlider.value + "%";
        });

        newnotesSlider.addEventListener('input', () => {
            newnotesSliderValue.textContent = newnotesSlider.value + "%"
        });

        temperatureSlider.addEventListener('input', () => {
            temperatureSliderValue.textContent = temperatureSlider.value / 100;
        });

        barTemperatureSlider.addEventListener('input', () => {
            barTemperatureSliderValue.textContent = barTemperatureSlider.value / 100;
        });

        positionTemperatureSlider.addEventListener('input', () => {
            positionTemperatureSliderValue.textContent = positionTemperatureSlider.value / 100;
        });

        instrumentTemperatureSlider.addEventListener('input', () => {
            instrumentTemperatureSliderValue.textContent = instrumentTemperatureSlider.value / 100;
        });

        pitchTemperatureSlider.addEventListener('input', () => {
            pitchTemperatureSliderValue.textContent = pitchTemperatureSlider.value / 100;
        });

        durationTemperatureSlider.addEventListener('input', () => {
            durationTemperatureSliderValue.textContent = durationTemperatureSlider.value / 100;
        });

        timesignatureTemperatureSlider.addEventListener('input', () => {
            timesignatureTemperatureSliderValue.textContent = timesignatureTemperatureSlider.value / 100;
        });

        tempoTemperatureSlider.addEventListener('input', () => {
            tempoTemperatureSliderValue.textContent = tempoTemperatureSlider.value / 100;
        });

        const bar_level_checkbox = document.getElementById("BarLevelCheckbox");

        bar_level_checkbox.addEventListener('change', function() {
            if (bar_level_checkbox.checked) {
                variationSlider.classList.add('disabled-slider');
            } else {
                variationSlider.classList.remove('disabled-slider');
            }
        });

        const new_notes_checkbox = document.getElementById("NewNotesCheckBox");
        newnotesSlider.classList.add('disabled-slider');

        new_notes_checkbox.addEventListener('change', function() {
            if (new_notes_checkbox.checked) {
                newnotesSlider.classList.remove('disabled-slider');
            } else {
                newnotesSlider.classList.add('disabled-slider');
            }
        });

        document.getElementById('addBars').addEventListener('click', function(){
            const BarSelectionContainer = document.getElementById('BarSelectionContainer');
            const newBoxRow = document.createElement('div');
            newBoxRow.className = 'BarSelectionRow';

            const input1 = document.createElement('input');
            const input1_label = "startBar" + inputBarNum;
            input1.type = 'text';
            input1.size = 5;
            input1.id = input1_label;
            input1.name = input1_label;

            const label1 = document.createElement('label');
            label1.for = input1_label
            label1.innerText = 'Start Bar';
            label1.className ="startBarLabel";

            const input2 = document.createElement('input');
            const input2_label = "endBar" + inputBarNum;
            input2.type = 'text';
            input2.size = 5;
            input2.id = input2_label;
            input2.name = input2_label;

            inputBarNum += 1;

            const label2 = document.createElement('label');
            label2.for = input2_label;
            label2.innerText = "End Bar";
            label2.className = "endBarLabel";

            newBoxRow.appendChild(label1);
            newBoxRow.appendChild(input1);
            newBoxRow.appendChild(label2)
            newBoxRow.appendChild(input2);
            BarSelectionContainer.insertBefore(newBoxRow, BarSelectionContainer.lastChild);
        });

        document.getElementById('file-input').addEventListener('change', function () {
            console.log(this.files);
            handleFiles(this.files);
        });
        
        dropArea.addEventListener('dragover', function (e) {
            e.preventDefault();
            dropArea.classList.add('highlight');
        });

        dropArea.addEventListener('dragleave', function () {
            dropArea.classList.remove('highlight');
        });

        dropArea.addEventListener('drop', function (e) {
            e.preventDefault();
            dropArea.classList.remove('highlight');
            handleFiles(e.dataTransfer.files);
            displaySelectedFile();
        });

        function logout(){
            window.location.href = "/logout"
        }

        function handleFiles(files) {
            if (files.length > 0) {
                selectedFile = files[0];
                displaySelectedFile();
            }
        }

        function isMidiFile(file) {
            return file.type === 'audio/midi' || file.name.toLowerCase().endsWith('.midi') || file.name.toLowerCase().endsWith('.mid');
        }

        function uploadFile(file) {

            if (!selectedFile) {
                alert("Please upload a valid MIDI file.");
                return;
            } else if (!isMidiFile(selectedFile)) {
                alert('The file you have selected is not a midi file.');
                return;
            }

            const formData = new FormData();
            formData.append('file', selectedFile);

            // Create a container div for each file
            let fileContainer = document.createElement('div');
            fileContainer.id = selectedFile.name
            fileContainer.className = 'file-container processing';

            // Add the file info container
            let fileInfoContainer = document.createElement('div');
            fileInfoContainer.className = 'file-info';
            
            // Add processing icon as an image
            let processingIcon = document.createElement('img');
            processingIcon.src = 'static/images/processing.gif'; // Replace with the path to your processing icon image
            processingIcon.alt = 'Processing...';
            processingIcon.id = selectedFile.name.concat("_icon")
            processingIcon.style.width = '20px'; // Adjust the width as needed
            
            // Add the file name to the container
            let fileNameElement = document.createElement('div');
            fileNameElement.textContent = selectedFile.name;
            fileNameElement.style.marginLeft = '10px'; // Adjust the margin as needed
            // fileNameElement.className = 'uploaded-file-name'
            
            // Append the file name and processing icon to the file info container
            fileInfoContainer.appendChild(processingIcon);
            fileInfoContainer.appendChild(fileNameElement);

            // Append the file info container to the file container
            fileContainer.appendChild(fileInfoContainer);

            let jobList = document.createElement('div');
            jobList.className = 'job-list';

            // Add jobs to the job list based on the selected processing state
            let numJobs = parseInt(processingStateSelect.value, 10);
            for (let i = 1; i <= numJobs; i++) {
                let jobListItem = document.createElement('div');
                jobListItem.className = 'job-list-item';
                
                let jobProcessingIcon = document.createElement('img');
                jobProcessingIcon.src = 'static/images/processing.gif'; // Replace with the path to your processing icon image
                jobProcessingIcon.alt = 'Processing...';
                jobProcessingIcon.style.width = '20px'; 
                jobProcessingIcon.id = selectedFile.name.concat(`_Job ${i}`, "icon");
                jobListItem.appendChild(jobProcessingIcon);

                let jobListName = document.createElement("div");
                jobListName.textContent = `${i}_`.concat(selectedFile.name);
                jobListName.id = `${i}_`.concat(selectedFile.name);
                jobListItem.appendChild(jobListName);

                jobList.appendChild(jobListItem);
            }

            formData.append('jobs', numJobs); 
            
            // send control attributes
            let bar = document.getElementById('BarCheckbox').checked;
            let position = document.getElementById('PositionCheckbox').checked;
            let instrument = document.getElementById('InstrumentCheckbox').checked;
            let pitch = document.getElementById('PitchCheckbox').checked;
            let duration = document.getElementById("DurationCheckbox").checked;
            let timesignature = document.getElementById('TimesignatureCheckbox').checked;
            let tempo = document.getElementById('TempoCheckbox').checked;

            formData.append('bar', bar);
            formData.append('position', position);
            formData.append('instrument', instrument);
            formData.append('pitch', pitch);
            formData.append('duration', duration);
            formData.append('timesignature', timesignature);
            formData.append('tempo', tempo);

            // TODO: CHECK VALID BAR VALUES
            // retrieve bars
            const bars = [];
            for (let i = 1; i < inputBarNum; i++) {
                let startBar = document.getElementById('startBar' + i).value;
                let endBar = document.getElementById('endBar' + i).value;
                bars.push(startBar);
                bars.push(endBar);
            }

            bars.forEach((num, index) => {
                formData.append('numbers[]', num);
            });

            // get variation amount
            let barlevel = document.getElementById('BarLevelCheckbox').checked;
            formData.append('barlevel', barlevel);

            let variationamount = document.getElementById('varitionPercentage').value;
            formData.append('variationamount', variationamount);

            // new notes
            let newnotes = document.getElementById('NewNotesCheckBox').checked;
            formData.append('newnotes', newnotes);

            let newnotesamount = document.getElementById('NewNotesSlider').value;
            formData.append('newnotesamount', newnotesamount);
            
            // Append the job list to the file container
            fileContainer.appendChild(jobList);

            // Append the container to the file list
            fileList.insertBefore(fileContainer, fileList.firstChild);

            // temperature
            const temperatures = [];

            temperatures.push(temperatureSlider.value/100);
            temperatures.push(barTemperatureSlider.value/100);
            temperatures.push(positionTemperatureSlider.value/100);
            temperatures.push(instrumentTemperatureSlider.value/100);
            temperatures.push(pitchTemperatureSlider.value/100);
            temperatures.push(durationTemperatureSlider.value/100);
            temperatures.push(timesignatureTemperatureSlider.value/100);
            temperatures.push(tempoTemperatureSlider.value/100);

            temperatures.forEach((num, index) => {
                formData.append('temperatures[]', num);
            });

            // formData.append('temperatures[]', temperatureSlider.value/100);
            // formData.append('temperatures[]', barTemperatureSlider.value/100);
            // formData.append('temperatures[]', positionTemperatureSlider.value/100);
            // formData.append('temperatures[]', pitchTemperatureSlider.value/100);
            // formData.append('temperatures[]', durationTemperatureSlider.value/100);
            // formData.append('temperatures[]', timesignatureTemperatureSlider.value/100);
            // formData.append('temperatures[]', tempoTemperatureSlider.value/100);

            // Include sid in the URL or as a query parameter
            const url = `/upload?sid=${socket.id}`;

            fetch(url, {
                method: 'POST',
                body: formData,
                })
            .then(response => response.text())
            .then(result => {
                console.log(result);
                // Simulate processing time (replace with actual processing logic)
                setTimeout(() => {
                    // Replace processing icon with tick icon
                    // processingIcon.src = 'static/images/tick.png'; // Replace with the path to your tick icon image
                    // processingIcon.alt = 'Processed';
                }, 2000); // Adjust the time as needed
            })
            .catch(error => {
                console.error('Error:', error);
                // Replace processing icon with error icon
                processingIcon.src = 'path/to/error-icon.png'; // Replace with the path to your error icon image
                processingIcon.alt = 'Error';
            });

            // selectedFile = null; // Clear the selected file after uploading
            // displaySelectedFile();
        }

        function displaySelectedFile() {
            let selectedFileDiv = document.getElementById('selected-file');
            selectedFileDiv.innerHTML = '';

            if (selectedFile) {
                let fileNameElement = document.createElement('div');
                fileNameElement.innerHTML = `<b>Uploaded File:</b> ${selectedFile.name}`;
                selectedFileDiv.appendChild(fileNameElement);
            }
        }

        fileList.addEventListener('click', function (e) {
            let target = e.target;
            let fileContainer = findAncestor(target, 'file-container');
            
            if (fileContainer) {
                // Toggle the job list visibility when clicking on the file container
                let jobList = fileContainer.querySelector('.job-list');
                if (jobList) {
                    jobList.style.display = jobList.style.display === 'none' ? 'block' : 'none';
                }
            }
        });

        function findAncestor(element, className) {
            while ((element = element.parentElement) && !element.classList.contains(className));
            return element;
        }

    </script>
</body>
</html>

